<base href="https://player.horadapipoca.club/p">
<div id="player"></div>
<link rel="stylesheet" href="../skin.css">
<script type="text/javascript" src="../js/ajwplayer.js"></script>
<script type="text/javascript" src="../js/ancok.min.js"></script>
<script type="text/javascript">
	jwplayer.key = "8tDNv8+jONqSNxm1FcyM5QINXD2BnLjNhpqUcsE2AzQ=";
	var playerInstance = jwplayer("player");	
		playerInstance.setup({        		
			sources: JSON.parse(atob('W3sidHlwZSI6ICJ2aWRlby9tcDQiLCAibGFiZWwiOiAiSEQiLCAiZmlsZSI6ICJodHRwczovL2dpdGxhYi5jb20vaG9yYWRhcGlwb2NhY2x1Yi9hc2Zzd2VyeGN2YXNmL3Jhdy9tYXN0ZXIvXzcyMHAubTN1OCJ9XQ==')),
			image: "background.jpg",
			autostart: false,
			controls: true,
			preload: 'none',
			skin: {
				name: "stormtrooper"
			},
			width: "100%",
			height: "100%",
			aspectratio: "16:9",
			abouttext: "HORADAPIPOCA",
			aboutlink: "//horadapipoca.club/",
						    });
</script>
<div style="display:none">
<script id="_wauq6x">
var wuu_0xfda2=['YzQzMDJiZmZmZmZm','c21hbGw=','cHVzaA==','ZHluYW1pYw==','eXRhNjN6ODRmNQ==','cTZ4'];(function(_0x178378,_0x3abcb8){var _0x58d850=function(_0xccb172){while(--_0xccb172){_0x178378['push'](_0x178378['shift']());}};_0x58d850(++_0x3abcb8);}(wuu_0xfda2,0x9e));var wuu_0xb766=function(_0x242ecc,_0x528af0){_0x242ecc=_0x242ecc-0x0;var _0x1e1be8=wuu_0xfda2[_0x242ecc];if(wuu_0xb766['kPRpLw']===undefined){(function(){var _0x2d696d=function(){var _0x1941f6;try{_0x1941f6=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(_0x883420){_0x1941f6=window;}return _0x1941f6;};var _0x1cb4fc=_0x2d696d();var _0x312cb3='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x1cb4fc['atob']||(_0x1cb4fc['atob']=function(_0x3b379a){var _0x1fcfec=String(_0x3b379a)['replace'](/=+$/,'');for(var _0x440af4=0x0,_0x77d2ea,_0x8e2d53,_0x4db7b6=0x0,_0x116130='';_0x8e2d53=_0x1fcfec['charAt'](_0x4db7b6++);~_0x8e2d53&&(_0x77d2ea=_0x440af4%0x4?_0x77d2ea*0x40+_0x8e2d53:_0x8e2d53,_0x440af4++%0x4)?_0x116130+=String['fromCharCode'](0xff&_0x77d2ea>>(-0x2*_0x440af4&0x6)):0x0){_0x8e2d53=_0x312cb3['indexOf'](_0x8e2d53);}return _0x116130;});}());wuu_0xb766['RVJVtJ']=function(_0x2d7989){var _0x2af857=atob(_0x2d7989);var _0x2c16b8=[];for(var _0x3b51bc=0x0,_0x127cbe=_0x2af857['length'];_0x3b51bc<_0x127cbe;_0x3b51bc++){_0x2c16b8+='%'+('00'+_0x2af857['charCodeAt'](_0x3b51bc)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x2c16b8);};wuu_0xb766['ZoiVjm']={};wuu_0xb766['kPRpLw']=!![];}var _0x3e6d3a=wuu_0xb766['ZoiVjm'][_0x242ecc];if(_0x3e6d3a===undefined){_0x1e1be8=wuu_0xb766['RVJVtJ'](_0x1e1be8);wuu_0xb766['ZoiVjm'][_0x242ecc]=_0x1e1be8;}else{_0x1e1be8=_0x3e6d3a;}return _0x1e1be8;};var _wau=_wau||[];_wau[wuu_0xb766('0x0')]([wuu_0xb766('0x1'),wuu_0xb766('0x2'),wuu_0xb766('0x3'),wuu_0xb766('0x4'),wuu_0xb766('0x5')]);
</script>
</div>
<script async src="//waust.at/d.js"></script>
<style type="text/css">
.jwplayer .jw-preview, .jw-error .jw-preview {
    background-size: cover!important;
}
body{padding: 0; margin: 0;background: #000}
.jwplayer.jw-flag-aspect-mode, .video-js {width:100% !important; height: 100% !important}
#player{text-align: center;color:#fff;}
</style>